

 /* Bg play button bg */
 .playbg0,
 .playbg1,
 .playbg2 {
     border-radius: 50%;
     
 }

 .playbg0 {
     width: 170px;
     height: 170px;
     background: #fff;

 }

 .playbg1 {
     width: 140px;
     height: 140px;
     background-color: #ffc700;
 }

 .playbg2 {
     width: 140px;
     height: 135px;
     background-color: #FFDB23;

 }

 .playbg2 img {
     width: 100px;
 }
/* ----------------------------- */